{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 border">Row 1</div>
      <div class="col-sm-2 border">3.1415659499</div>
    </div>
    <div class="row">
      <div class="col-sm-10 border">Row 2</div>
      <div class="col-sm-2 border">3.1415659499</div>
    </div>
    <div class="row border">
      <div class="col-sm-10 border">Row 3</div>
      <div class="col-sm-2 border">3.1415659499</div>
    </div>
{% endblock %}
